RmiForm/WebContent/wsdl/UserBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bean.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bean.com" xmlns:intf="http://bean.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="submit">
    <complexType/>
   </element>
   <element name="submitResponse">
    <complexType>
     <sequence>
      <element name="submitReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserName">
    <complexType/>
   </element>
   <element name="getUserNameResponse">
    <complexType>
     <sequence>
      <element name="getUserNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setUserName">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setUserNameResponse">
    <complexType/>
   </element>
   <element name="getMail">
    <complexType/>
   </element>
   <element name="getMailResponse">
    <complexType>
     <sequence>
      <element name="getMailReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setMail">
    <complexType>
     <sequence>
      <element name="mail" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setMailResponse">
    <complexType/>
   </element>
   <element name="getDept">
    <complexType/>
   </element>
   <element name="getDeptResponse">
    <complexType>
     <sequence>
      <element name="getDeptReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDept">
    <complexType>
     <sequence>
      <element name="dept" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDeptResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserNameRequest">

      <wsdl:part element="impl:getUserName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDeptResponse">

      <wsdl:part element="impl:getDeptResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setUserNameResponse">

      <wsdl:part element="impl:setUserNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMailRequest">

      <wsdl:part element="impl:setMail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDeptRequest">

      <wsdl:part element="impl:getDept" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMailResponse">

      <wsdl:part element="impl:setMailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="submitRequest">

      <wsdl:part element="impl:submit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setUserNameRequest">

      <wsdl:part element="impl:setUserName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserNameResponse">

      <wsdl:part element="impl:getUserNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDeptResponse">

      <wsdl:part element="impl:setDeptResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMailRequest">

      <wsdl:part element="impl:getMail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="submitResponse">

      <wsdl:part element="impl:submitResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMailResponse">

      <wsdl:part element="impl:getMailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDeptRequest">

      <wsdl:part element="impl:setDept" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserBean">

      <wsdl:operation name="submit">

         <wsdl:input message="impl:submitRequest" name="submitRequest">

       </wsdl:input>

         <wsdl:output message="impl:submitResponse" name="submitResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserName">

         <wsdl:input message="impl:getUserNameRequest" name="getUserNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserNameResponse" name="getUserNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setUserName">

         <wsdl:input message="impl:setUserNameRequest" name="setUserNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:setUserNameResponse" name="setUserNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMail">

         <wsdl:input message="impl:getMailRequest" name="getMailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMailResponse" name="getMailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMail">

         <wsdl:input message="impl:setMailRequest" name="setMailRequest">

       </wsdl:input>

         <wsdl:output message="impl:setMailResponse" name="setMailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDept">

         <wsdl:input message="impl:getDeptRequest" name="getDeptRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDeptResponse" name="getDeptResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDept">

         <wsdl:input message="impl:setDeptRequest" name="setDeptRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDeptResponse" name="setDeptResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserBeanSoapBinding" type="impl:UserBean">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="submit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="submitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="submitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setUserName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUserNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setUserNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setMailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setMailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDept">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDeptRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDeptResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDept">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDeptRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDeptResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserBeanService">

      <wsdl:port binding="impl:UserBeanSoapBinding" name="UserBean">

         <wsdlsoap:address location="http://localhost:8080/RmiForm/services/UserBean"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
